html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.inlineBlock{
	display: inline-block;
}
.posRelative{
	position: relative;
}
.formItems{
	margin-bottom: 10px;
}
.displayNone{
	display: none;
}
.cursor{
	cursor: pointer;
}
.width-100{
	width: 100%;
}
.white-text{
	color: #ffffff;
}
.uppercase{
	text-transform: uppercase;
}
.sprite {
	background-image: url("../img/sprite.png");
	display: inline-block;
}
.marginAuto{
	margin: auto;
}
.vertical-middle{
	vertical-align: middle;
}