.container{
	min-width: 1000px;
	width: 100%;
}
.min-container{
	width: 810px;
	margin: auto;
}
header{
	color: #fff;
	background: linear-gradient(to bottom, #0230f5, #02d0d6);
	height: 872px;
}

.menu__list {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.menu__list-item {
	flex-grow: 1;
	box-sizing: border-box;
	text-align: center;
}

.menu__list-link {
	display: block;
	padding: 20px 40px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: OpenSans;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
}
#logo{
	width: 217px;
}
@font-face {
	font-family: OpenSans; /* Имя шрифта */
	src: url(../fonts/OpenSans.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: OpenSansLight; /* Имя шрифта */
	src: url(../fonts/OpenSansLight.ttf); /* Путь к файлу со шрифтом */
}

.selectLang,
.buttonExit{
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 5px 20px;
	height: 36px;
}
.buttonExit{
	margin-left: 20px
}
.headerRightBlock{
	padding-top: 10px;
}

.headerBlock{
	text-align: center;
	color: white;
	margin-top: 80px;
	text-transform: uppercase;
}
.aboutOpen{
	font-size: 12px;
}
.mainTitle{
	font-size: 60px;
	line-height: 74px;
	font-family: OpenSansLight;
	margin-top: 30px;
}

.mainButtons{
	margin-top: 40px;
}
.buyHotelcoin,
.loadWhitePaper{
	width: 235px;
	height: 61px;
	border-radius: 49px;
	box-shadow: 0 0 20px 7px rgba(255, 254, 254, 0.5);
}
.buyHotelcoin{
	background-color: #ffffff;
}
.buyHotelcoin span,
.loadWhitePaper span{
	height: 17px;
	font-family: OpenSans;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 61px;

}
.buyHotelcoin span{
	width: 189px;
	color: #4c4c4c;
}
.loadWhitePaper{
	border: solid 3px #ffffff;
}
.loadWhitePaper span{
	width: 195px;
}
.newAndState{
    margin-top: -150px;
}
.buidState,
.projectNews{
    width: 240px;
    color: #616161;
    font-size: 14px;
}
.buidState h4,
.projectNews h4{
    margin-top: 10px;
    text-transform: uppercase;
    color: #0081c4;
}
.buidState .iconsPr,
.projectNews .iconsPr{
    position: relative;
    width: 55px;
}
.buidState .iconsPr .badge,
.projectNews .iconsPr .badge{
    position: absolute;
    left: -10px;
    top: -10px;
}
.buidState img,
.projectNews img{
    width: 100%;
}
.block2{
	height: 764px;
	background-color: #fcfcfc;
	color: #616161;
}
.block2 img{
	height: 95px;
}
.block2 h3{
	margin-bottom: 40px;
}
.block2 h5{
	text-transform: uppercase;
	color: #212121;
	font-size: 12px;
	font-weight: bold;
}
.block2 .rowItems{
	margin-bottom: 50px;
}
footer{
	height: 1189px;
}
.imgLocation{
	width: 100%;
	margin: 40px 0px;
}
.fonLocation{
	background: linear-gradient(to bottom, #023cf4, #0286e5);
}

address h3{
	text-transform: uppercase;
}