.container{
	min-width: 1200px;
	width: 100%;
	margin: auto;
}
header{
	color: #fff;
	background: linear-gradient(to bottom, #0230f5, #02d0d6);
	height: 872px;
}

.menu__list {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.menu__list-item {
	flex-grow: 1;
	box-sizing: border-box;
	text-align: center;
}

.menu__list-link {
	display: block;
	padding: 20px 40px;
	font-size: 12px;
	font-family: OpenSans;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
}
.menu__list-link:hover{
	color: white;
}
#logo{
	width: 217px;
}
@font-face {
	font-family: OpenSans; /* Имя шрифта */
	src: url(../fonts/OpenSans.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: OpenSansLight; /* Имя шрифта */
	src: url(../fonts/OpenSansLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: OpenSansSemibold; /* Имя шрифта */
	src: url(../fonts/OpenSans-Semibold.ttf); /* Путь к файлу со шрифтом */
}

.iconSocial .myBadge{
	margin-right: 10px;
}
.myBadge{
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 15px;
	background-color: #a2b4fb;
	color: #0232f4;
}
.myBadge:hover{
	background-color: #f6f6f6;
}
.selectLang,
.buttonExit{
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 5px 20px;
	height: 36px;
}
.selectLang:hover,
.buttonExit:hover{
	background-color: #0232f4;
}
.buttonExit{
	margin-left: 10px
}
.headerRightBlock{
	padding-top: 10px;
	float:right;
}

.headerBlock{
	text-align: center;
	color: white;
	margin-top: 80px;
}
.aboutOpen{
	font-size: 12px;
}
.mainTitle{
	font-size: 60px;
	line-height: 74px;
	font-family: OpenSansLight;
	margin-top: 30px;
}

.mainButtons{
	margin-top: 40px;
}
.buyHotelcoin,
.loadWhitePaper{
	width: 235px;
	height: 61px;
	line-height: 61px;
	border-radius: 49px;
	box-shadow: 0 0 20px 7px rgba(255, 254, 254, 0.5);
	border: 3px solid white;
}
.buyHotelcoin{
	background-color: #ffffff;
	margin-right: 10px;
}
.buyHotelcoin span,
.loadWhitePaper span{
	font-family: OpenSans;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
}
.buyHotelcoin span{
	width: 189px;
	color: #4c4c4c;
}
.newAndState{
    margin-top: -150px;
}
.buidState,
.projectNews{
    width: 240px;
    color: #616161;
    font-size: 14px;
}
.buidState h4,
.projectNews h4{
    margin-top: 10px;
    color: #0081c4;
}
.buidState .iconsPr,
.projectNews .iconsPr{
    position: relative;
    width: 55px;
}
.buidState .iconsPr .badge,
.projectNews .iconsPr .badge{
    position: absolute;
    left: -30px;
    top: -20px;
}
.buidState img,
.projectNews img{
    width: 100%;
}
.block1{
	height: 656px;
}
.mainImg{
	margin-top: -246px;
}
.block2{
	height: 764px;
	background-color: #fcfcfc;
	color: #616161;
}
.block2 img{
	height: 95px;
}
.block2 h3{
	margin-bottom: 40px;
}
.block2 h5{
	color: #212121;
	font-size: 12px;
	font-weight: bold;
}
.block2 .rowItems{
	margin: 40px 0 40px 0;
}
.privilege{
	width: 224px
}
h3{
	color:#212121;
	font-size: 36px !important;
	margin-bottom: 20px !important;
	font-family: OpenSansSemibold !important;
}
.block3 h5{
	font-size: 20px;
	font-weight: bold;
}
footer{
	/*height: 1189px;*/
}
.imgLocation{
	width: 100%;
	margin: 40px 0px;
}
.fonLocation{
	background: linear-gradient(to bottom, #023cf4, #0286e5);
}

.contacts{
	background: linear-gradient(to bottom, #0487e5, #02d0d6);
	color: white;
}
.contactForm{
	margin-top: 20px;
}
.contactForm input,
.contactForm textarea{
	width: 100%;
	padding: 5px;
}
.contactForm input{
	height: 46px;
	padding-left: 20px;
}
.contactForm input,
.contactForm textarea{
	border-radius: 5px;
	background-color: #f6f6f6;
	border: solid 1px #dedede;
}
.submit{
	width: 160px;
	height: 46px;
	line-height: 46px;
	border-radius: 100px;
	background-color: #ffffff;
	color: #4c4c4c;
}
.circle {
	width: 63px;
	height: 63px;
	line-height: 63px;
	background: #02d0d6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 75px;
}
.grayCircle {
	width: 218px;
	height: 218px;
	background: #fbfbfb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 110px;
	display: inline-block;
}
.blueLine{
	width: 200px;
	position: absolute;
	top: 27px;
	left: 140px;
}
.contact-text{
	margin-bottom: 30px;
}