<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" href="css/projectStyle.css" rel="stylesheet">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="css/mystyle.css" rel="stylesheet">
</head>
<body ng-controller="mainCtrl">

<!--Заголовок-->
<header>
    <div class="container">

        <div class="row">
            <div class="col-xs-7">
                <i class="sprite iconLogo"></i>

                <div class="inlineBlock">
                    <menu class="menu__list">
                        <li class="menu__list-item"><a href="#" class="menu__list-link uppercase">Проект</a></li>
                        <li class="menu__list-item"><a href="#" class="menu__list-link uppercase">Белиз</a></li>
                        <li class="menu__list-item"><a href="#" class="menu__list-link uppercase">FAQ</a></li>
                    </menu>
                </div>
            </div>
            <div class="col-xs-5 text-right">
                <div class="inlineBlock headerRightBlock">
                    <div class="inlineBlock iconSocial">
                        <a href="http://www.facebook.com" class="myBadge cursor"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="http://www.twitter.com" class="myBadge cursor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="http://www.instagram.com" class="myBadge cursor"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <div class="inlineBlock" style="padding-left: 30px">
                        <div class="selectLang inlineBlock cursor">
                            <span>Русский</span>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="buttonExit inlineBlock cursor">
                            <span>Выйти</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="headerBlock uppercase">
            <div class="aboutOpen">Скоро открытие</div>
            <h1 class="mainTitle">Первый в мире блокчейн-опцион <br>
                строительства отеля на Белизе</h1>

            <div class="mainButtons">
                <div class="buyHotelcoin inlineBlock cursor">
                    <span>купить hotelcoin</span>
                </div>
                <div class="loadWhitePaper inlineBlock cursor">
                    <span>скачать white paper</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container text-center">
    <div class="block1 posRelative">
        <img src="img/ellipse.png" alt="" class="mainImg">
        <div class="imitInput">
            <input type="email" class="inputEmail text-center" placeholder="Введите ваш Email">
            <div class="circlePlane cursor">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </div>
        </div>

        <div class="newAndState text-left">
            <div class="projectNews text-center inlineBlock">
                <div class="iconsPr inlineBlock">
                    <span class="badge badge-pill badge-primary">1</span>
                    <i class="sprite iconMews"></i>
                </div>

                <div>
                    <h4 class="uppercase">Новости о проекте</h4>

                    <div>
                        If you’ve hung around kids at all in the last few years, you know they love YouTube,
                        even though the video site is only supposed to be for people 13 and up.
                        Now, Google is planning to roll out a YouTube app specifically aimed at kids.
                    </div>
                </div>
            </div>
            <div class="buidState  text-center inlineBlock pull-right">
                <div class="iconsPr inlineBlock">
                    <span class="badge badge-pill badge-primary">2</span>
                    <i class="sprite iconLamp"></i>
                </div>

                <div>
                    <h4 class="uppercase">Статус строительства</h4>

                    <div>
                        The State Department announced new policies Tuesday stipulating that U.S.
                        drones can only be exported through government programs and that the receiving
                        country needs to agree to certain conditions about what the drone will be used for.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block2 text-center">
    <div class="container">
        <h3 class="">Преимущеста</h3>
        <div class="row rowItems">
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconPenCircle"></i>
                    <h5 class="uppercase">Credit Card</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconPlusCircle"></i>
                    <h5 class="uppercase">Cleab classes</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconCloudCircle"></i>
                    <h5 class="uppercase">Magicwand</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
        </div>

        <div class="row rowItems">
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconPenCircle"></i>
                    <h5 class="uppercase">Credit Card</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconPlusCircle"></i>
                    <h5 class="uppercase">Cleab classes</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="privilege">
                    <i class="sprite iconCloudCircle"></i>
                    <h5 class="uppercase">Magicwand</h5>
                    <div>
                        But I must explain to you how all this mistaken idea of denouncing pleasure
                        and praising
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block3 posRelative">
    <div ng-if="itemsWorkVisible.length" style="position: absolute; top: 186px; height: 7px; width: 100%; background-color: #027be7;"></div>
    <div class="container" style="background-color: white">
        <h3 class="text-center">Процесс работы</h3>

        <div class="posRelative" style="margin: 100px 0;">
            <div ng-if="itemsWorkVisible.length" style="margin-left: 5%">
                <div>
                    <i class="sprite blueLine iconBlueLineLeft"></i>
                </div>

                <div ng-repeat="item in itemsWorkVisible" class="inlineBlock posRelative" style="padding-right: 45px">
                    <div class="circle text-center posRelative">
                        <span ng-bind="item.indx"></span>
                        <div style="position: absolute; width: 4px; height: 95px; background-color: #02d0d6; z-index: 1;left: 30px; top:70px"></div>
                    </div>
                    <i ng-if="!$first" class="sprite blueLine iconBlueLine"></i>
                    <i ng-if="$last" class="sprite blueLine iconBlueLineRight"></i>
                    <div>
                        <div class="grayCircle text-center posRelative" style="display: flex; margin-top: 50px">
                            <div class="width-100" style="margin: auto">
                                <h5 ng-bind="item.date"></h5>
                                <span ng-bind="item.text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <i ng-if="itemsWork[endIndx+1]" class="sprite iconArrowRight cursor" ng-click="clickRight()"></i>
            <i ng-if="itemsWork[startIndx-1]" class="sprite iconArrowLeft cursor" ng-click="clickLeft()"></i>
        </div>

    </div>

</div>

<footer>
    <div class="fonLocation">
        <div class="container">
            <img src="img/locations@3x.png" alt="location" class="imgLocation">
        </div>
    </div>
    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="white-text">Контакты</h3>
                    <div class="contact-text">
                        Man request adapted spirits set pressed.
                        Up to denoting subjects sensible feelings it indulged directly.
                        We dwelling elegance do shutters appetite yourself diverted.
                        much you with rank.
                        many held age hold rose than our. She literature sentiments any contrasted.
                        Set aware joy sense young now tears china shy.
                    </div>

                    <address>
                        <h4 class="uppercase">Address</h4>
                        <span>Белиз</span>
                    </address>

                    <address>
                        <h4 class="uppercase">Phone</h4>
                        <span>+1 567-678-4590</span>
                    </address>
                </div>
                <div class="col-xs-6">
                    <div class="contactForm">
                        <div class="row formItems">
                            <div class="col-xs-6 posRelative">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="col-xs-6 posRelative">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                        <textarea rows="5" placeholder="Ваше сообщение" class="formItems"></textarea>
                        <div class="submit text-center cursor">Отправить</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bottomFooter">
            <hr>
            <i class="sprite iconLogoFooter"></i>
            <span class="pull-right" style="color: #ffffff">2017 | All rights reserved</span>
        </div>


    </div>
</footer>

<!--Скрипты-->
<script src="jquery-2.1.1.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="angular.js"></script>
<script src="jquery-1.3.2.min.js"></script>
<script src="jquery-ui-1.7.2.custom.min.js"></script>
<script src="mainCtrl.js"></script>
</body>
</html>